/*Full Page Selectors*/
body {
  background: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*header section*/
header {
  background: linear-gradient(-45deg, #b45904, #85291c, #a12e2e, #aeb109);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  text-align: center;
  color: whitesmoke;
  padding: 8px;
}

h1 {
  font-size: 3rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*Main Content*/
main {
  display: flex;
  min-height: 100%;
}

/*Suggestor Boxes*/
h2 {
  color: whitesmoke;
}

#maincontent {
  flex-direction: row;
  display: flex;
  width: 100%;
  margin: 5px;
}

.suggestions {
  border: 3px solid brown;
  min-height: 100px;
  padding: 7px;
  line-height: 1.3rem;
  width: 100%;
  margin: 5px;
  text-align: center;
}

#boardgame {
  margin-left: 10px;
}

.suggestPic {
  display: none;
  padding: 5px;
  margin-bottom: 3px;
}

#sliderOutput2 {
  padding: 2px;
  width: 45px;
}

.grid-x {
  width: 90%;
}

.onGenerate {
  display: none;
}

.button,
.button.success {
  background-color: brown;
  color: whitesmoke;
}

.button:hover,
.button.success:hover {
  background-color: #d78539;
  color: black;
}

.button:focus,
.button.success:focus {
  background-color: #d78539;
  color: black;
}

.button.hollow,
.button.hollow:focus {
  color: brown;
  border: 2px solid brown;
  font-size: 1.1rem;
}

.button.hollow:hover {
  color: rgb(255, 235, 206);
  border-color: rgb(255, 235, 206);
  box-shadow: 3px 3px 3px rgb(255, 235, 206);
}

.slider-handle {
  background-color: brown;
}

/*Saved favorites*/
#asidecontent {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: 5px;
}

.favHeader {
  font-size: 1.4rem;
}

.vertical li:hover {
  cursor: pointer;
}

.favStyle {
  min-height: 100px;
  max-height: 1000px;
  padding: 7px;
  line-height: 1.4rem;
  width: 50%;
  margin: 5px;
  text-align: center;
  height: fit-content;
  background-color: rgb(172, 49, 49);
  color: whitesmoke;
}

ul {
  background-color: whitesmoke;
}

.menu li {
  color: brown;
}

.menu li:hover {
  background-color: #d78539;
  color: black;
}

.clear-btn:hover {
  color: white;
}

/*Screen adjustment styling*/
@media screen and (max-width: 639.9px) {
  h2 {
    font-size: 2rem;
  }
}

.bottomGlow {
  width: 100%;
  bottom: -200px;
  position: fixed;
  box-shadow: 0px 0px 100px 200px rgb(255, 81, 0);
}
